# Fraud detection in gas and electricity

## Import data

In [14]:
# import all modules needed
from models.eda import load_data, clean_data


import pandas as pd
import numpy as np
from IPython.display import display
import seaborn as sns
import matplotlib.pyplot as plt

In [15]:
def clean_data(df):
    print("Cleaning DataFrame...")
    print("Printing Head of DataFrame:")
    display(df.head())
    
    print("Cleaning DataFrame...")
    print("Printing Tail of DataFrame:")
    display(df.tail())
    
    print("Printing Info of DataFrame:")
    display(df.info())
    
    print("Printing Sum of Null Values in DataFrame:")
    display(df.isnull().sum())
    
    display("Loaded DataFrame with shape:", df.shape)

In [16]:
df_client_train = load_data('data/train/client_train.csv')

df_client_train['creation_date'] = pd.to_datetime(df_client_train['creation_date'])

clean_data(df_client_train)

NameError: name 'pd' is not defined

In [17]:
# Check if any rows in the 'target' column are duplicated
duplicated_rows = df_client_train['target'].value_counts()

# Print the duplicated rows
print(duplicated_rows)

NameError: name 'df_client_train' is not defined

In [18]:
# Check if any rows in the 'client_id' column are duplicated
duplicated_rows = df_client_train['client_id'].value_counts()

# Print the duplicated rows
#print(duplicated_rows[duplicated_rows > 1])
print(duplicated_rows)

NameError: name 'df_client_train' is not defined

In [ ]:
# Check if any rows in the 'disrict' column are duplicated
duplicated_rows = df_client_train['disrict'].value_counts()

# Print the duplicated rows
print(duplicated_rows)

62    40353
69    34231
60    31922
63    28987
Name: disrict, dtype: int64

In [ ]:
# Check if any rows in the 'client_catg' column are duplicated
duplicated_rows = df_client_train['client_catg'].value_counts()

# Print the duplicated rows
print(duplicated_rows)

11    131494
12      2321
51      1678
Name: client_catg, dtype: int64

In [ ]:
df_invoice_train = load_data('data/train/invoice_train.csv')
df_invoice_train['invoice_date'] = pd.to_datetime(df_invoice_train['invoice_date'])

clean_data(df_invoice_train)

/var/folders/8x/cz487gy55dx6vlxs84h83w7h0000gn/T/ipykernel_72535/3402235832.py:1: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  df_invoice_train = load_data('data/train/invoice_train.csv')

Cleaning DataFrame...
Printing Head of DataFrame:

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667,0,203,8,1,82,0,0,0,14302,14384,4,ELEC
1,train_Client_0,2013-03-29,11,1335667,0,203,6,1,1200,184,0,0,12294,13678,4,ELEC
2,train_Client_0,2015-03-23,11,1335667,0,203,8,1,123,0,0,0,14624,14747,4,ELEC
3,train_Client_0,2015-07-13,11,1335667,0,207,8,1,102,0,0,0,14747,14849,4,ELEC
4,train_Client_0,2016-11-17,11,1335667,0,207,9,1,572,0,0,0,15066,15638,12,ELEC

Cleaning DataFrame...
Printing Tail of DataFrame:

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
4476744,train_Client_99998,2005-08-19,10,1253571,0,202,9,1,400,135,0,0,3197,3732,8,ELEC
4476745,train_Client_99998,2005-12-19,10,1253571,0,202,6,1,200,6,0,0,3732,3938,4,ELEC
4476746,train_Client_99999,1996-09-25,11,560948,0,203,6,1,259,0,0,0,13884,14143,4,ELEC
4476747,train_Client_99999,1996-05-28,11,560948,0,203,6,1,603,0,0,0,13281,13884,4,ELEC
4476748,train_Client_99999,1996-01-25,11,560948,0,203,6,1,516,0,0,0,12765,13281,4,ELEC

Printing Info of DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4476749 entries, 0 to 4476748
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   client_id             object
 1   invoice_date          datetime64[ns]
 2   tarif_type            int64
 3   counter_number        int64
 4   counter_statue        object
 5   counter_code          int64
 6   reading_remarque      int64
 7   counter_coefficient   int64
 8   consommation_level_1  int64
 9   consommation_level_2  int64
 10  consommation_level_3  int64
 11  consommation_level_4  int64
 12  old_index             int64
 13  new_index             int64
 14  months_number         int64
 15  counter_type          object
dtypes: datetime64[ns](1), int64(12), object(3)
memory usage: 546.5+ MB

None

Printing Sum of Null Values in DataFrame:

client_id               0
invoice_date            0
tarif_type              0
counter_number          0
counter_statue          0
counter_code            0
reading_remarque        0
counter_coefficient     0
consommation_level_1    0
consommation_level_2    0
consommation_level_3    0
consommation_level_4    0
old_index               0
new_index               0
months_number           0
counter_type            0
dtype: int64

'Loaded DataFrame with shape:'

(4476749, 16)

In [ ]:
# Check if any rows in the 'counter number' column are duplicated
duplicated_rows = df_invoice_train['counter_number'].value_counts()

# Print the duplicated rows
print(duplicated_rows)

0                43161
2786               251
630317             230
162709             226
963                220
                 ...
4920158              1
431951               1
2188701271500        1
508843               1
375249               1
Name: counter_number, Length: 201893, dtype: int64

In [ ]:
# Check if any rows in the 'counter code' column are duplicated
duplicated_rows = df_invoice_train['counter_code'].value_counts()

# Print the duplicated rows
print(duplicated_rows)

203    1516836
5      1352035
207     555628
413     378917
202     343251
420      98273
410      69080
433      34447
10       27744
442      17050
25       14934
407      13768
204      12427
453       8290
201       7672
467       7302
506       3389
483       2830
214       2643
40        2482
532       1982
565       1082
403       1070
450       1059
600        807
210        789
102        313
227        178
65          74
101         74
16          73
310         51
307         50
305         44
222         42
0           33
317         16
303          5
333          4
367          3
325          1
1            1
Name: counter_code, dtype: int64

In [ ]:
# Check if any rows in the 'counter type' column are duplicated
duplicated_rows = df_invoice_train['counter_type'].value_counts()

# Print the duplicated rows
print(duplicated_rows)

ELEC    3079406
GAZ     1397343
Name: counter_type, dtype: int64

In [ ]:
# Check if any rows in the 'client id' column are duplicated
duplicated_rows = df_invoice_train['client_id'].value_counts()

# Print the duplicated rows
print(duplicated_rows)

train_Client_116878    439
train_Client_9263      380
train_Client_130245    327
train_Client_59131     317
train_Client_61728     310
                      ...
train_Client_23589       1
train_Client_8426        1
train_Client_49342       1
train_Client_114075      1
train_Client_27751       1
Name: client_id, Length: 135493, dtype: int64

In [ ]:
# Merge the two DataFrames on the client_id, using the default inner join
merged_df_train = pd.merge(df_client_train, df_invoice_train, on='client_id')

In [ ]:
# Print the merged DataFrame
clean_data(merged_df_train)

Cleaning DataFrame...
Printing Head of DataFrame:

,disrict,client_id,client_catg,region,creation_date,target,invoice_date,tarif_type,counter_number,counter_statue,...,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,60,train_Client_0,11,101,1994-12-31,0.0,2014-03-24,11,1335667,0,...,8,1,82,0,0,0,14302,14384,4,ELEC
1,60,train_Client_0,11,101,1994-12-31,0.0,2013-03-29,11,1335667,0,...,6,1,1200,184,0,0,12294,13678,4,ELEC
2,60,train_Client_0,11,101,1994-12-31,0.0,2015-03-23,11,1335667,0,...,8,1,123,0,0,0,14624,14747,4,ELEC
3,60,train_Client_0,11,101,1994-12-31,0.0,2015-07-13,11,1335667,0,...,8,1,102,0,0,0,14747,14849,4,ELEC
4,60,train_Client_0,11,101,1994-12-31,0.0,2016-11-17,11,1335667,0,...,9,1,572,0,0,0,15066,15638,12,ELEC

Cleaning DataFrame...
Printing Tail of DataFrame:

,disrict,client_id,client_catg,region,creation_date,target,invoice_date,tarif_type,counter_number,counter_statue,...,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
4476744,60,train_Client_99998,11,101,1993-12-22,0.0,2005-08-19,10,1253571,0,...,9,1,400,135,0,0,3197,3732,8,ELEC
4476745,60,train_Client_99998,11,101,1993-12-22,0.0,2005-12-19,10,1253571,0,...,6,1,200,6,0,0,3732,3938,4,ELEC
4476746,60,train_Client_99999,11,101,1986-02-18,0.0,1996-09-25,11,560948,0,...,6,1,259,0,0,0,13884,14143,4,ELEC
4476747,60,train_Client_99999,11,101,1986-02-18,0.0,1996-05-28,11,560948,0,...,6,1,603,0,0,0,13281,13884,4,ELEC
4476748,60,train_Client_99999,11,101,1986-02-18,0.0,1996-01-25,11,560948,0,...,6,1,516,0,0,0,12765,13281,4,ELEC

Printing Info of DataFrame:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4476749 entries, 0 to 4476748
Data columns (total 21 columns):
 #   Column                Dtype
---  ------                -----
 0   disrict               int64
 1   client_id             object
 2   client_catg           int64
 3   region                int64
 4   creation_date         datetime64[ns]
 5   target                float64
 6   invoice_date          datetime64[ns]
 7   tarif_type            int64
 8   counter_number        int64
 9   counter_statue        object
 10  counter_code          int64
 11  reading_remarque      int64
 12  counter_coefficient   int64
 13  consommation_level_1  int64
 14  consommation_level_2  int64
 15  consommation_level_3  int64
 16  consommation_level_4  int64
 17  old_index             int64
 18  new_index             int64
 19  months_number         int64
 20  counter_type          object
dtypes: datetime64[ns](2), float64(1), int64(15), object(3)
memory usage: 751.4+ MB

None

Printing Sum of Null Values in DataFrame:

disrict                 0
client_id               0
client_catg             0
region                  0
creation_date           0
target                  0
invoice_date            0
tarif_type              0
counter_number          0
counter_statue          0
counter_code            0
reading_remarque        0
counter_coefficient     0
consommation_level_1    0
consommation_level_2    0
consommation_level_3    0
consommation_level_4    0
old_index               0
new_index               0
months_number           0
counter_type            0
dtype: int64

'Loaded DataFrame with shape:'

(4476749, 21)

In [ ]:
print(merged_df_train['client_id'].unique())
print(merged_df_train['client_id'].nunique())

['train_Client_0' 'train_Client_1' 'train_Client_10' ...
 'train_Client_99997' 'train_Client_99998' 'train_Client_99999']
135493

In [ ]:


# Group the dataframe by the consumption level columns
grouped = merged_df_train.groupby(['consommation_level_1', 'consommation_level_2', 'consommation_level_3', 'consommation_level_4'])

# Create separate dataframes for each consumption level
# df_merged_con_level1 = grouped.get_group((1, 0, 0, 0))
# df_merged_con_level2 = grouped.get_group((0, 1, 0, 0))
# df_merged_con_level3 = grouped.get_group((0, 0, 1, 0))
# df_merged_con_level4 = grouped.get_group((0, 0, 0, 1))

NameError: name 'merged_df_train' is not defined

In [ ]:
# # Plot the pair plot with hue
# sns.pairplot(data=merged_df_train, hue="target")

# # Show the plot
# plt.show()

:

: